@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: #4158d0;
    background-image: linear-gradient(45deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}

.container {
    border-radius: 0.4rem;
    padding: 1rem 1.5rem;
    font-weight: 500;
    background-color: rgba(204, 204, 204, 0.5);
    user-select: none;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.3s linear;
}

.container:hover {
    box-shadow: 0 26px 70px 1px rgba(0, 0, 0, 0.4);
    transform: scale(1.001);
}

.container h1 {
    font-size: 1.5rem;
}

.color-text {
    font-size: 1rem;
}

.copyright {
    position: absolute;
    bottom: 2rem;
}

@media (max-width: 450px) {
    .container h1 {
        font-size: 1.1rem;
    }

    .color-text{
        font-size: 0.9rem;
    }
}
